<launch>
	<node pkg="bugbase" type="wheel_base.py" name="stepper_diff_wheeled" output="screen">
    <rosparam>
      port: '/dev/ttyACM0'
      baudrate: 115200
      wheel_base: 0.36
      steps_per_meter: 4800 
      left_inversed: true
      right_inversed: false
      enable_pin: 9
      stp_a_pin: 2
      stp_b_pin: 3
      dir_a_pin: 5 
      dir_b_pin: 6 
    </rosparam>
	</node>
</launch>